<!-- モーダル -->
<div class="modal fade" id="wantedSpotModal" tabindex="-1" aria-labelledby="wantedSpotModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="wantedSpotModalLabel">行きたいリスト</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- 行きたいリストの内容をここに表示 -->
        <ul>
          {% for spot in wanted_spots %}
            <li>{{ spot.tourist_spot.spot_name }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>