{% extends 'base.html' %}

{% block content %}
<h2>スケジュール作成</h2>
<form method="post" action="{% url 'travelapp:schedule' %}">
  {% csrf_token %}

  <div>
    <label>旅行日程:</label>
    <div style="display: flex; align-items: center;">
      <input type="text" id="schedule-range" name="schedule_range" placeholder="日付を選択してください" readonly>
      <span id="calendar-icon" style="cursor: pointer; margin-left: 10px;">📅</span>
    </div>
  </div>
  <input type="hidden" name="start_date" id="start_date">
  <input type="hidden" name="end_date" id="end_date">

  <br>

  <div>
    <label>プラン名:</label>
    <input type="text" name="touristplan_name" required>
  </div>

  <br>

  <button type="submit">スケジュール作成</button>
</form>

<!-- flatpickrのCDN -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
  const calendarInput = document.getElementById("schedule-range");
  const calendarIcon = document.getElementById("calendar-icon");

  const calendar = flatpickr(calendarInput, {
    mode: "range",
    dateFormat: "Y-m-d",
    locale: "ja",
    onClose: function(selectedDates) {
      if (selectedDates.length === 2) {
        document.getElementById("start_date").value = selectedDates[0].toISOString().split('T')[0];
        document.getElementById("end_date").value = selectedDates[1].toISOString().split('T')[0];

        document.getElementById("schedule-range").value = selectedDates[0].toISOString().split('T')[0] + ' to ' + selectedDates[1].toISOString().split('T')[0];
      }
    }
  });

  calendarIcon.addEventListener("click", function() {
    calendar.open();
  });
</script>
{% endblock %}

