{% extends "base.html" %}

{% block content %}
<h1>{{ request.user.username }}さんのレビュー一覧</h1>

{% if reviews %}  
  <ul>
    {% for review in reviews %}
      <li>  
        <a href="{% url 'travelapp:detail_touristspot' pk=review.tourist_spot.pk %}">{{ review.tourist_spot.name }}</a>
        <p>評価スコア: {{ review.review_score }} ★</p>
        <p>{{ review.review_title }}</p>
        <p>{{ review.review_description }}</p>
        <p>費用: {{ review.get_review_price_display }}</p>
        <p>滞在時間: {{ review.stay_time_hours }}時間 {{ review.stay_time_minutes }}分</p>
        <p>投稿日: {{ review.created_at|date:"Y年m月d日 H:i" }}</p>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>まだクチコミがありません。</p>
{% endif %}

{% endblock %}