{% extends 'base.html' %}

{% block content %}
<h1>🚩観光地登録(*は必須です)</h1>

<!-- extra_tags='regist_touristspot' を使ったメッセージ のみ regist_touristspot.html で表示 --> 
{% if messages %} 
<ul class="messages">
  {% for message in messages %}
    {% if 'regist_touristspot' in message.tags %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endif %}
  {% endfor %}
</ul>
{% endif %}

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div>
        <label for="{{ form.spot_name.id_for_label }}">観光地名*:</label>
        {{ form.spot_name }}
        {% if form.spot_name.errors %}
            <div class="error">{{ form.spot_name.errors }}</div>
        {% endif %}
    </div>
    <p><span id="spot_name_error" style="display:none; color: red;"></span></p>
    <div>
        <label for="{{ form.prefecture.id_for_label }}">都道府県*:</label>
        {{ form.prefecture }}
        {% if form.prefecture.errors %}
            <div class="error">{{ form.prefecture.errors }}</div>
        {% endif %}
    </div>

    <div>
        <label for="{{ form.address.id_for_label }}">住所*:</label>
        {{ form.address }}
        {% if form.address.errors %}
            <div class="error">{{ form.address.errors }}</div>
        {% endif %}
    </div>
    <p><span id="address_error" style="display:none; color: red;"></span></p>
    <div>
        <label for="{{ form.tel.id_for_label }}">電話番号*:</label>
        {{ form.tel }}
        {% if form.tel.errors %}
            <div class="error">{{ form.tel.errors }}</div>
        {% endif %}
    </div>

    <div>
        <label for="{{ form.category.id_for_label }}">カテゴリ*:</label>
        {{ form.category }}
        {% if form.category.errors %}
            <div class="error">{{ form.category.errors }}</div>
        {% endif %}
    </div>

    <div>
        <label for="{{ form.workingday.id_for_label }}">営業日：</label>
        {{ form.workingday }}
        {% if form.workingday.errors %}
            <div class="error">{{ form.workingday.errors }}</div>
        {% endif %}
    </div>

    <div>
        <label for="{{ form.opening_at.id_for_label }}">営業開始時間:</label>
        {{ form.opening_at }}
        {% if form.opening_at.errors %}
            <div class="error">{{ form.opening_at.errors }}</div>
        {% endif %}
    </div>

    <div>
        <label for="{{ form.closing_at.id_for_label }}">営業終了時間:</label>
        {{ form.closing_at }}
        {% if form.closing_at.errors %}
            <div class="error">{{ form.closing_at.errors }}</div>
        {% endif %}
    </div>

    <div>
        <label for="{{ form.parking.id_for_label }}">駐車場*:</label>
        {{ form.parking }}
        {% if form.parking.errors %}
            <div class="error">{{ form.parking.errors }}</div>
        {% endif %}
    </div>

    <div>
        <label for="{{ form.keywords.id_for_label }}">キーワード*:</label>
        {{ form.keywords }}
        <small>{{ form.keywords.help_text }}</small>
        {% if form.keywords.errors %}
            <div class="error">{{ form.keywords.errors }}</div>
        {% endif %}
    </div>

    <div>
        <label for="{{ form.picture.id_for_label }}">画像*:</label>
        {{ form.picture }}
        {% if form.picture.errors %}
            <div class="error">{{ form.picture.errors }}</div>
        {% endif %}
    </div>

    <div>
        <label for="{{ form.offical_url.id_for_label }}">公式URL*:</label>
        {{ form.offical_url }}
        {% if form.offical_url.errors %}
            <div class="error">{{ form.offical_url.errors }}</div>
        {% endif %}
    </div>

    <div>
        <label for="{{ form.description.id_for_label }}">説明*:</label>
        {{ form.description }}
        {% if form.description.errors %}
            <div class="error">{{ form.description.errors }}</div>
        {% endif %}
    </div>


    <div>
        <button type="submit" class="btn btn-primary">登録</button>
    </div>
</form>



  <script> //select2 を適用
    $(document).ready(function() {
      // select2 を適用したいセレクトボックスにクラスを付けます
      $('.select2').select2();  // クラス名 .select2 を持つすべての <select> 要素に適用
    });
  </script>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
        function checkDuplicate() {
          const spotName = document.getElementById('id_spot_name').value.trim();
          const address = document.getElementById('id_address').value.trim();
      
          if (spotName || address) {
            const url = `{% url 'travelapp:check_dupe_tourist_spot' %}?spot_name=${encodeURIComponent(spotName)}&address=${encodeURIComponent(address)}`;
      
            fetch(url)
              .then(response => response.json())
              .then(data => {
                const spotNameError = document.getElementById('spot_name_error');
                const addressError = document.getElementById('address_error');
      
                // titleだけが重複している場合
                if (data.spot_name_exists) {
                  spotNameError.textContent = "この観光地名は既に登録されています";
                  spotNameError.style.display = 'block';
                } else {
                  spotNameError.style.display = 'none';
                }
      
                // addressだけが重複している場合
                if (data.address_exists) {
                  addressError.textContent = "この住所は既に登録されています";
                  addressError.style.display = 'block';
                } else {
                  addressError.style.display = 'none';
                }
              })
              .catch(error => console.error('Error:', error));
          }
        }
      
        document.getElementById('id_spot_name').addEventListener("input", checkDuplicate);
        document.getElementById('id_address').addEventListener("input", checkDuplicate);
      });
  </script>

</body>
</html>

{% endblock %}