{% extends 'base.html' %}

{% block content %}
  <h1>観光地検索</h1>
  
  <!-- 検索フォーム -->
  <form method="get">
    <label for="query">キーワード:</label>
    <input type="text" name="query" id="query" value="{{ request.GET.query }}">
    
    <label for="category">カテゴリ:</label>
    <select name="category" id="category">
        <option value="">カテゴリを選択</option>
        <option value="1" {% if request.GET.category == '1' %}selected{% endif %}>神社/仏閣</option>
        <option value="2" {% if request.GET.category == '2' %}selected{% endif %}>アクティビティ</option>
        <option value="3" {% if request.GET.category == '3' %}selected{% endif %}>テーマパーク</option>
        <option value="4" {% if request.GET.category == '4' %}selected{% endif %}>景勝</option>
        <option value="5" {% if request.GET.category == '5' %}selected{% endif %}>その他</option>
    </select>
    
    <button type="submit">検索</button>
</form>

    <div>
      <label for="order_by">並び順:</label>
      <select name="order_by" id="order_by">
        <option value="review_score_average" {% if request.GET.order_by == 'review_score_average' %}selected{% endif %}>評価順</option>
        <option value="created_at" {% if request.GET.order_by == 'created_at' %}selected{% endif %}>新しい順</option>
        <option value="updated_at" {% if request.GET.order_by == 'updated_at' %}selected{% endif %}>更新日順</option>
      </select>
    </div>



  <h2>検索結果:</h2>
  
  <!-- 観光地リスト -->
  <div>
    {% if tourist_spots %}
        <ul>
            {% for spot in tourist_spots %}
                <li>{{ spot.spot_name }} - {{ spot.prefecture }} - {{ spot.address }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>該当する観光地はありません。</p>
    {% endif %}
</div>

  <!-- ページネーション -->
  <div class="pagination">
    <span class="step-links">
      {% if tourist_spots.has_previous %}
        <a href="?page=1">&laquo; 最初</a>
        <a href="?page={{ tourist_spots.previous_page_number }}">前へ</a>
      {% endif %}

      <span class="current">
        ページ {{ tourist_spots.number }} / {{ tourist_spots.paginator.num_pages }}。
      </span>

      {% if tourist_spots.has_next %}
        <a href="?page={{ tourist_spots.next_page_number }}">次へ</a>
        <a href="?page={{ tourist_spots.paginator.num_pages }}">最後 &raquo;</a>
      {% endif %}
    </span>
  </div>
  
{% endblock %}