{% extends 'base.html' %}

{% block content %}
  <h1>観光地検索</h1>
  
  <!-- 検索フォーム -->
  <form method="get">
    <label for="query">キーワード:</label>
    <input type="text" name="query" id="query" value="{{ request.GET.query }}">
    
    <label for="category">カテゴリ:</label>
    <select name="category" id="category">
        <option value="">カテゴリを選択</option>
        <option value="1" {% if request.GET.category == '1' %}selected{% endif %}>神社/仏閣</option>
        <option value="2" {% if request.GET.category == '2' %}selected{% endif %}>アクティビティ</option>
        <option value="3" {% if request.GET.category == '3' %}selected{% endif %}>テーマパーク</option>
        <option value="4" {% if request.GET.category == '4' %}selected{% endif %}>景勝</option>
        <option value="5" {% if request.GET.category == '5' %}selected{% endif %}>その他</option>
    </select>
    
    <button type="submit">検索</button>
</form>

    <div>
      <label for="order_by">並び順:</label>
      <select name="order_by" id="order_by">
        <option value="review_score_average" {% if request.GET.order_by == 'review_score_average' %}selected{% endif %}>評価順</option>
        <option value="created_at" {% if request.GET.order_by == 'created_at' %}selected{% endif %}>新しい順</option>
        <option value="updated_at" {% if request.GET.order_by == 'updated_at' %}selected{% endif %}>更新日順</option>
      </select>
    </div>



  <h2>検索結果:</h2>
  
  <div>
    {% if tourist_spots %}
      <ul>
        {% for spot in tourist_spots %}
          <li>
            <div>
              <!-- pictureをクリックすると詳細ページに遷移 -->
              <a href="{% url 'travelapp:detail_touristspot' pk=spot.pk %}">
                <img src="{{ spot.picture.url }}" alt="{{ spot.spot_name }}" width="200" height="150">
              </a>
            </div>
            <div>
              <strong>{{ spot.spot_name }}</strong><br>
              <span>{{ spot.get_prefecture_display }}</span><br>
              <span>{{ spot.address }}</span><br>
              <span>{{ spot.get_category_display }}</span><br>
            </div>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>検索結果はありませんでした。</p>
    {% endif %}
  </div>
{% endblock %}